*{
    margin: 0;
    padding: 0;
}

.container{
    width: 1340px;
    margin: 0 auto;
}

.box{
    text-align: center;
    margin-top: 15px;
}

.header{
    font-size: 28px;
}

.box-text{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 18px;
}

.box-result{
    color: red;
}